Keep Diaper On Until you Wet Them
Keep Diaper On For 6 Hours
Listen And Repeat
Answering Difficult Questions
Being Bagged For 2 Minutes
Bagging Challenge
Keep Vibrator Between Legs
Staying Hard Or Wet
Hold Coin Against Wall
Hold Breath For 50 Seconds
No Touching
Hands Above Head
Legs Spread
Keep Whip In Mouth
No Moving For 5 Minutes
Quiet For 10 Times Spanks
No Cumming For 10 Minutes
No Screaming For 5 Minutes
Keep Plug For 5 Minutes
No Ringing For 4 Minutes